<!DOCTYPE html>
<html>

<head>
<%- include('../../includes/header.ejs') %>
    <link rel="stylesheet" href="/stylesheets/forms.css">
    <link rel="stylesheet" href="/stylesheets/auth.css">
</head>

<body>
   <%- include('../../includes/nav.ejs') %>

    <main>
        <% if (errorMessage) { %>
            <div class="user-message user-message--error"><%= errorMessage %></div>
        <% } %>
        <form class="login-form" action="/proves/auth/new-password" method="POST">
            <div class="form-control">
                <label for="password">Password</label>
                <input type="password" name="password" id="password">
            </div>
            <input type="hidden" name="userId" value="<%= userId %>">
            <input type="hidden" name="passwordToken" value="<%= passwordToken %>">
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <button class="btn" type="submit">Update Password</button>
        </form>
    </main>
<%- include('../../includes/end.ejs') %>