<!DOCTYPE html>
<html>

<head>
  <%- include('../../includes/header.ejs') %>
</head>

<body>
  <%- include('../../includes/nav.ejs') %>
  <div class="dashboard-image">
    <img class="img-fluid" src="/images/la.jpg" alt="">
    <div class="dashboard-text">
      <h1>BLESSINGS!</h1>
      <h5>Some incredible quotes</h5>
    </div>
  </div>
  <div class="jumbotron back">
    <div class="container dash-m">
      <div class="row">
        <!--ACTIVITIES-->
        <div class="col-sm">
          <h3 class="col-head">Activities</h3>
          <div class="next-con">
            <% if (activities.length > 0) { %>
            <% activities.forEach(a => { %>
            <div class="bucket-item-list">
              <h5><%= a.activityId.title %></h5>
              <h6>Desc: <%= a.activityId.description %></h6>
              <div class="action-btn">
                <form action="/mad/bucket-delete-item" method="POST">
                  <input type="hidden" value="<%= a.activityId._id %>" name="activityId">
                  <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                  <button class="btn danger" type="submit">Remove</button>
                </form>
                <div class="centered">
                  <form action="/mad/create-toDo" method="POST">
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                    <button type="submit" class="btn sss">Try</button>
                  </form>
                </div>
              </div>
            </div>
            <% }) %>

            <% } else { %>
            <h4>No Activities in Bucket!</h4>
            <% } %>
          </div>
        </div>
        <!--TO-DO LIST-->
        <div class="col-sm">
          <h3 class="col-head">To-do list</h3>
          <div class="next-con">
            <div class="toDo-item-list">
              <% if (toDos.length <= 0) { %>
              <h4>No to-do list yet!</h4>
              <% } else { %>
                <% toDos.forEach(toDo => { %>
                  <% toDo.activities.forEach(a => { %>
                    <div class="toDo">
                      <h5><%= a.title %></h5>
                      <div class="action-btn">
                        <form action="/mad/toDo-delete" method="POST">
                          <input type="hidden" value="<%= a._id %>" name="activityId">
                          <input type="hidden" value="<%= toDo._id %>" name="toDoId">
                          <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                          <button class="btn sss" type="submit">Remove</button>
                        </form>
                        <div class="centered">
                          <form action="/mad/create-report" method="POST">
                            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                            <button type="submit" class="btn sss">Done</button>
                          </form>
                        </div>
                      </div>
                    </div>
                  <% }); %>
                <% }); %>
              <% } %>
            </div>
          </div>
        </div>
        <!--REPORTS-->
        <div class="col-sm">
          <h3 class="col-head">Reports</h3>
        </div>
      </div>
    </div>
  </div>
  <%- include('../../includes/end.ejs') %>